body {
    font-family: 'Lucida Console', Monaco, monospace;
}

#correct {
    color: darkgreen;
    font-size: 1.5em;
    vertical-align: bottom;
}

#buttons,
#score {
    padding-top: 20px;
}

.correctAnswer {
    background-color: lightgreen;
}

.wrongAnswer {
    background-color: lightpink;
}

.form-check {
    padding-left: 50px;
    padding-top: 5px;
}

.right {
    float: right;
}

.figureimage {
    max-width: 100%;
}

.searchresult {
    margin-bottom: 5px;
}

.bd-flashcard {
    display: block;
}

.bd-flashcard {
    float: right;
}

.btn-flashcard {
    position: absolute;
    top: .50rem;
    right: .50rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.btn-flashcard:hover,
.btn-flashcard:focus {
    color: #fff;
    background-color: #0d6efd;
}