body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#mainContainer {
    padding-top: 30px;
}

.border-primary {
    border: var(--bs-border);
}

.card-header {
    background-color: var(--bs-secondary);
    border-bottom: var(--bs-card-header-border-bottom);
}

.card {
    background-color: var(--bs-card-background-color);
    color: var(--bs-card-color);
}

.correctAnswer {
    background-color: var(--bs-correct-answer-background-color);
    color: var(--bs-correct-answer-color);
}

.wrongAnswer {
    background-color: var(--bs-wrong-answer-background-color);
    color: var(--bs-wrong-answer-color);
}

.searchCard {
    padding: 2.5rem;
}

#correct {
    color: var(--bs-correct-answer-background-color);
    font-size: 1.5em;
    vertical-align: bottom;
}

#buttons,
#score {
    padding-top: 20px;
}

.form-check {
    padding-left: 50px;
    padding-top: 5px;
}

.right {
    float: right;
}

.figureimage {
    max-width: 100%;
}

.searchresult {
    margin-bottom: 10px;
}

.bd-flashcard {
    display: block;
}

.bd-flashcard {
    float: right;
}

.btn-flashcard {
    position: absolute;
    top: .50rem;
    right: .50rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    border: 1px solid;
    border-radius: .25rem;
    background-color: #fff;
    color: #0d6efd;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.btn-flashcard:hover,
.btn-flashcard:focus {
    background-color: #0d6efd;
    color: #fff;
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    opacity: 1.0;
}

.modal-content {
    background-color: var(--bs-card-background-color);
    color: var(--bs-card-color);
}

.modal-dialog {
    max-width: 650px;
}